body,
html {
  margin: 0;
  font-family: sans-serif;

  header {
    position: relative;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    white-space: nowrap;

    h1 {
      margin: 0;
    }

    p {
      margin: 0;
    }
  }

  .intro-section {
    video {
      width: 100%;
    }
  }

  main {
    padding: 20px 40px;

    h3 {
      font-weight: normal;
    }
  }
}


