body,
html {
  margin: 0;
  font-family: 'proxima-nova', sans-serif;
  background: #e2e6ec;

  .container {
    width: 1000px;
    margin: auto;
    background: white;
    min-height: 100%;
    box-shadow: 0 1px 15px rgba(39, 44, 49, .15);
  }

  header {
    position: relative;
    background: white;
    padding: 20px 30px;
    white-space: nowrap;
    width: -webkit-fill-available;

    .header-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;

      .brand {
        display: flex;
        justify-content: left;
        align-items: center;
        text-decoration: none;

        * {
          text-decoration: none;
          color: #495064;

          &:hover {
          }

          cursor: pointer;
        }

        h1 {
          margin: 0;
          font-family: 'futura-pt', sans-serif;
          text-transform: uppercase;
          color: #495064;
          line-height: 1;
          font-size: 2.2em;
        }

        .organization {
          line-height: 1;
        }

        img {
          width: 50px;
          margin-right: 15px;
        }
      }

      nav {
        a {
          text-decoration: none;
          color: #818fa1;
          font-weight: 600;
          font-size: 1.2em;
          margin-left: 20px;
          transition: all .2s ease-out;

          &:hover {
            color: aquamarine;
          }
        }
      }
    }
  }

  .intro-section {
    video {
      width: 100%;
    }
  }

  main {
    padding: 20px 0;
    width: 800px;
    max-width: 95%;
    margin: 10px auto;

    .intro {
      display: flex;
      margin-bottom: 20px;
      align-items: center;

      .pitt {
        height: 90px;
        width: 90px;
        margin-right: 20px;
      }
    }

    h2 {
      margin: 0 0 3px;
      font-size: 2.4em;
      color: #525d66;
      font-family: 'futura-pt', sans-serif;
      line-height: 1;
    }

    h3 {
      margin: 0 0 5px;
      color: #525d66;
      font-family: 'futura-pt', sans-serif;
      font-weight: 500;
      font-size: 1.4em;
      line-height: 1.1;
    }

    p {
      line-height: 1.3em;
      margin: 0 0 25px;
    }

    table {
      width: 90%;
      margin: 20px auto 40px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      border-spacing: 0;

    th {
        text-transform: uppercase;
        padding: 10px;
        background: #f0f2f5;
        font-weight: 500;
        font-size: 1.1em;
      }

      td {
        padding: 10px;
        text-align: center;

        &:first-of-type {
          text-align: left;
          max-width: 20%;
        }
      }

      i {
        font-size: 1.1em;
      }

      .fa-check {
        color: #9fdc9f;
      }

      .fa-times {
        color: #d65858
      ;
      }
    }
  }
}


