<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{{ .Title }}</title>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
    <!--<link rel='stylesheet' type="text/css" href="/static/style.css"/>-->
    <link rel='stylesheet' href='https://hackers-content.nyc3.digitaloceanspaces.com/sites/penguintruth/css/style.css'/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.typekit.net/pgr6fet.css">
    <link rel="shortcut icon" type="/img/png" href="{{ .Icon }}"/>
    <meta property="og:site_name" content="{{ .Title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ .Title }}"/>
    <meta property="og:description" content="{{ .TagLine }}"/>
    <meta property="og:url" content="{{ .SiteUrl }}"/>
    <meta property="og:image" content="{{ .ShareImage }}"/>
    <meta property="og:image:width" content="1000"/>
    <meta property="og:image:height" content="523"/>
    <meta name="twitter:title" content="{{ .Title }}"/>
    <meta name="twitter:description" content="{{ .TagLine }}"/>
    <meta name="twitter:url" content="{{ .SiteUrl }}"/>
    <meta name="twitter:site" content="@hackersslackers"/>
    <meta name="twitter:creator" content="@toddrbirchard"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image" content="{{ .ShareImage }}"/>
</head>

<body>
<div class="container">
    <header>
        <div class="header-wrapper">
            <a class="brand" href="/">
                <img src="{{ .Icon }}" alt="logo"/>
                <div>
                    <h1>{{ .Title }}</h1>
                    <div class="organization">Funded by the Bird Team Association™.</div>
                </div>
            </a>
            <nav>
                <a href="https://www.change.org/penguintruth">Petition</a>
                <!--<a href="">Teams</a>-->
            </nav>
        </div>
    </header>
    <section class="intro-section">
        <video class="videoObject center" autoplay loop autobuffer muted playsinline id="myVideo">
            <source src="https://hackers-content.nyc3.digitaloceanspaces.com/sites/penguintruth/video/penguintruth.mp4"
                    type="video/mp4">
        </video>
    </section>
    <main>
        <div class="intro">
            <img class="pitt" src="https://hackers-content.nyc3.digitaloceanspaces.com/sites/penguintruth/img/pitt.png" alt="pitt" />
            <div>
                <h2>PENGUINS ARE NOT A BIRD TEAM</h2>
                <h3>Our timeless avian institution being threatened by a foreign flightless threat. Protect our heavenly heritage by saying NO to those bound to the ground.</h3>
            </div>
        </div>
        <p>Eagles. Hawks. Falcons. Raptors. For generations, the world of sports has been dominated by an unstoppable alliance of aerial athletes. Even in the darkest of times, these fearlessly feathered fowls used the miraculous gift of flight to embody the single quality which defines America: Freedom. </p>
        <h3>Let's look at the FACTS:</h3>
        <table>
            <thead>
                <th></th>
                <th>Birds</th>
                <th>Penguins</th>
            </thead>
            <tbody>
                <tr>
                    <td>Can fly</td>
                    <td><i class="fas fa-check"></i></td>
                    <td><i class="fas fa-times"></i></td>
                </tr>
                <tr>
                    <td>Have feathers</td>
                    <td><i class="fas fa-check"></i></td>
                    <td><i class="fas fa-times"></i></td>
                </tr>
                <tr>
                    <td>Superbowl champions</td>
                    <td><i class="fas fa-check"></i></td>
                    <td><i class="fas fa-times"></i></td>
                </tr>
                <tr>
                    <td>CAWWWWWWWWWWW</td>
                    <td><i class="fas fa-check"></i></td>
                    <td><i class="fas fa-times"></i></td>
                </tr>
                <tr>
                    <td>Top O' Da League</td>
                    <td><i class="fas fa-check"></i></td>
                    <td><i class="fas fa-times"></i></td>
                </tr>
            </tbody>
        </table>
        <h3>Furthermore...</h3>
        <p>PENGUINS ARE NOT BIRDS PENGUINS ARE NOT BIRDS PENGUINS ARE NOT BIRDS PENGUINS ARE NOT BIRDS PENGUINS ARE NOT
            BIRDS PENGUINS ARE NOT BIRDS PENGUINS ARE NOT BIRDS PENGUINS ARE NOT BIRDS PENGUINS ARE NOT BIRDS PENGUINS
            ARE NOT BIRDS PENGUINS ARE NOT BIRDS PENGUINS ARE NOT BIRDS PENGUINS ARE NOT BIRDS </p>
    </main>
</div>
<script type="text/javascript">
    var _gauges = _gauges || [];
    (function () {
        var t = document.createElement('script');
        t.type = 'text/javascript';
        t.async = true;
        t.id = 'gauges-tracker';
        t.setAttribute('data-site-id', '5ecdddbea560791bb4e90da8');
        t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
        t.src = 'https://d2fuc4clr7gvcn.cloudfront.net/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
    })();
</script>
</body>

</html>